@import "../../shared/colors";

.favorites-cities-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 31px;
  margin-top: 40px;

  .card {
    width: 350px;
    box-shadow: $cardShadow 0px 3px 8px;

    header {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      .temperature {
        position: relative;
        .card-title {
          font-size: 2rem;
          margin-right: 10px;
          top: 4px;
        }

        sup {
          position: absolute;
          right: 0;
          top: 4px;
          font-size: 1.06rem;
        }
      }
    }

    footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .card-link {
        background: transparent;
        border: none;
        outline: none;
        color: $fiveDaysForecastLink;
      }
      :last-child {
        font-size: 1.6rem;
        cursor: pointer;
      }
    }
  }
}
