.favorites-cities-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 31px;
  margin-top: 40px;

  .card {
    width: 350px;
    box-shadow: #0000003d 0px 3px 8px;

    header {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      :last-child {
        font-size: 1.1rem;
      }
    }

    footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .card-link {
        text-decoration: none;
      }
      :last-child {
        font-size: 1.6rem;
      }
    }
  }
}
