@mixin searchAndUserLocationButtons($background) {
  padding: 5px;
  background-color: $background;
  border: none;
  outline: none;
  color: snow;
  border-radius: 5px;
  transition: background-color 0.2s;

  &:hover {
    background-color: darken($color: $background, $amount: 5%);
  }
}

.search-location-wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 40px;
  gap: 32px;

  .search-location {
    $color: #3a5d80;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;

    .search-input-by-city {
      border: none;
      background: transparent;
      border-bottom: 1px solid #212529;
      font-family: "Inter", sans-serif;
      margin-bottom: 5px;
      outline: none;
      color: aliceblue;
      padding: 6px;

      &::placeholder {
        color: #f0f8ffcd;
      }
    }

    .city-not-found,
    .search-error {
      display: flex;
      align-items: center;
      width: -webkit-fill-available;
      padding: 8px 8px;
      margin-bottom: 10px;

      :first-child {
        margin-right: 5px;
        font-size: 1.31rem;
      }
    }

    .my-location-loading {
      @include searchAndUserLocationButtons($color);
    }

    .my-location {
      @include searchAndUserLocationButtons($color);
      display: flex;
      width: 133px;

      .user-location {
        font-size: 1.25rem;
        margin-right: 5px;
      }
    }
  }

  .save {
    @include searchAndUserLocationButtons(#2e4c9b);
    width: 67px;
  }
}
