@import '../../shared/colors';

.page-not-found {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  color: $aliceblue;

  :nth-child(1) {
    font-size: 2.13rem;
  }

  :nth-child(2) {
    font-size: 1.13rem;
  }

  :nth-child(3) {
    color: $aliceblue;
    text-decoration: none;
    background-color: $lightOrange;
    padding: 15px;
    border-radius: 39px;
    font-size: 1.25rem;
    transition: background-color 0.2s;
    box-shadow: $blackish 0px 4px 16px, $blackish 0px 8px 32px;

    &:hover {
      background-color: darken($color: $lightOrange, $amount: 5%);
    }
  }
}
