$aliceblue: aliceblue;
$snow: snow;
$lightOrange: #efb943;
$blackish: #11111a0d;
$fiveDaysForecastLink: #0d6efd;
$cardShadow: #0000003d;
$searchCityInputBorder: #212529;
$userLocation: #3a5d80;
$searchCityInputPlaceholder: #f0f8ffcd; 
$saveCity: #2e4c9b; 
$gray: #ffffffa8; 