.main-weather-info-wrapper {
  width: fit-content;
  margin-top: 60px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;

  .city-info {
    h1 {
      text-align: center;
      color: snow;
      font-weight: 600;
      margin: 0;
      font-size: 1.875rem;
      margin-top: 20px;
    }
    p {
      text-align: center;
      color: #ffffffa8;
      font-size: 1.1rem;
    }
  }

  .temperature {
    box-shadow: #00000033 0px 8px 24px;
    background-color: #fffafa70;
    padding: 24px;
    width: 160px;
    margin: 20px auto;
    border-radius: 7px;
    color: snow;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    :first-child {
      font-size: 2.3rem;
      margin: 0;
    }
    .unit {
      position: absolute;
      top: 0;
      right: 1px;
      font-size: large;
      color: black;
      cursor: pointer;
      opacity: 0.6;
      background: snow;
      padding: 2px;
      border-radius: 43px;
      width: 30px;
      height: 30px;
      text-align: center;
      box-shadow: #32325d40 0px 50px 100px -20px, #0000004d 0px 30px 60px -30px, #0a254059 0px -2px 6px 0px inset;
    }
  }

  p {
    font-size: 1.3rem;
    color: snow;
    margin-bottom: 15px;
  }
}

.five-day-forecast {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 21px;

  .day {
    box-shadow: #32325d40 0px 2px 5px -1px, #0000004d 0px 1px 3px -1px;
    background: aliceblue;
    width: 110px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;


    header {
      display: flex;
      width: -webkit-fill-available;
      justify-content: space-evenly;
      align-items: center;
      font-weight: 600;
      
      :last-child {
        text-transform: uppercase;
      }
    }
  }
}
