@mixin searchAndUserLocationButtons($background) {
  padding: 5px;
  background-color: $background;
  border: none;
  outline: none;
  color: snow;
  border-radius: 5px;
  transition: background-color 0.2s;

  &:hover {
    background-color: darken($color: $background, $amount: 5%)
  }
}

.search-location-wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 40px;
  gap: 32px;

  .search-location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;

    .search-input-by-city {
      background: snow;
      border-radius: 5px;
      border: none;
      box-shadow: #88a5bf7a 4px 1px 10px 0px, #ffffffcc -3px -1px 10px 0px;
      font-family: "Inter", sans-serif;
      margin-bottom: 5px;
      outline: none;
      padding: 6px;
    }

    .my-location {
      @include searchAndUserLocationButtons(#409eff);
      display: flex;

      .user-location {
        font-size: 20px;
        margin-right: 5px;
      }
    }
  }
  .search-and-save-buttons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .search {
      @include searchAndUserLocationButtons(#409eff);
    }
    .save {
      @include searchAndUserLocationButtons(#20a366);
    }
  }
}
