@mixin searchAndUserLocationButtons {
  padding: 5px;
  background: #409eff;
  border: none;
  outline: none;
  color: snow;
  border-radius: 5px;
}

.search-location-wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 40px;
  gap: 32px;

  .search-location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;

    .search-input-by-city {
      background: snow;
      border-radius: 5px;
      border: none;
      box-shadow: #88a5bf7a 4px 1px 10px 0px, #ffffffcc -3px -1px 10px 0px;
      font-family: "Inter", sans-serif;
      margin-bottom: 5px;
      outline: none;
      padding: 6px;
    }

    .my-location {
      @include searchAndUserLocationButtons();
      display: flex;

      .gps {
        font-size: 20px;
        margin-right: 5px;
      }
    }
  }
  .search {
    @include searchAndUserLocationButtons();
  }
}
