/* BASIC SETUP */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    /* USER SELECTION */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.App {
    font-family: "Inter", sans-serif;
    transition: all 0.5s;
    min-height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #6d8ada,
        #6c85d5,
        #6b81d0,
        #697ccb,
        #6878c6,
        #6272be,
        #5c6db5,
        #5667ad,
        #4a5ea0,
        #3f5692,
        #344d85,
        #294578
    );
}
